@font-face {
    font-family: 'Orbit';
    src: url('/assets/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rubick';
    src: url(./assets/RubikIso-Regular.ttf);
}

@font-face {
    font-family: 'Rubick-distress';
    src: url(./assets/RubikDistressed-Regular.ttf);
}

@font-face {
    font-family: 'Josefin';
    src: url(./assets/JosefinSans-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Josefin', sans-serif;
}

html{
    margin:0;
    padding:0;
    max-height:100vh;
    overflow:hidden;
}



.full-height{
    min-height: 100vh;
}

/* CONTENT */

.content-wrapper{
    background-color: bisque;
    display: flex;
}

.image-container{
    width: 40vw;
    height: inherit;
    background-image: url(./assets/monkey-upscaled.jpg);
    background-size: cover;
    background-position:  right 35% top 25%;
    position: relative;
}

.image-text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 29.6%;
    text-align: center;
    top: 0;
    font-size: 2rem;
    font-family: 'Rubick-distress', 'Orbit', sans-serif;
    color: rgb(168, 146, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px rgba(255, 217, 0, 0.452) solid;;
}

.image-dim{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0.185);
}

.image-caption{
    position: absolute;
    width: 100%;
    height: 19.6%;
    background-color: rgba(0, 0, 0, 0.575);
    color: rgb(168, 146, 17);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Rubick-distress', 'Orbit', sans-serif;
    border-top: 1px rgba(255, 217, 0, 0.452) solid;
}

.form-wrapper{
    width: 60vw;
    height: inherit;
    display: flex;
    flex-direction: column;
    background: rgb(53,44,71);
    background: linear-gradient(169deg, rgb(41, 20, 78) 0%, rgb(3, 1, 20) 35%, rgb(1, 1, 20) 100%);
}

/* TEXT */
.text-container{
    min-height: 29.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.p-container > p , .remote-text{
    display: block;
    max-width: 70%;
    padding: .5rem .9rem;
    margin: 0 1rem;
    font-size: 0.8rem;
    color: white;
    line-height: 1.1rem;
}

.remote-text{
    letter-spacing: .1rem;
    padding: 1rem
}


/*FORM*/

.form-container{
    min-height: 51vh;
    padding: 1rem;
    border-top: 1px rgba(255, 217, 0, 0.452) solid;
    border-bottom: 1px rgba(255, 217, 0, 0.452) solid;
    box-shadow:  0px 5px 5px rgba(109, 29, 112, 0.5),
             -0px -5px 5px rgba(109, 29, 112, 0.5);
}



form{
    width: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.row1, .row2, .row3{
    margin: 0.3rem;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
}


.input-wrapper{
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 50%;
}

legend{
    font-size: .9rem;
    margin: .1rem 1rem;
}

.legend-wrapper{
    width: 100%;
}

label{
    font-size: 0.6rem;
    letter-spacing: .1rem;
    padding: .1rem;
    font-family: 'Josefin', sans-serif 
}

/*INPUTS*/

input{
    appearance: none;
    background-color: rgba(23, 8, 37, 0.295);
    color: rgba(223, 198, 224, 0.9);
    border-radius: 10px;
    border: 1px solid rgb(37, 35, 5);
    font-family: 'Josefin', sans-serif;
    font-size: .8rem;
    height: 35px; 
    padding-left: .4rem;
}

::placeholder{
    color:rgba(133, 117, 134, 0.548);
}

input[required]:invalid:not(:placeholder-shown){
    border: 1px solid red;
    
}

input + span {
    position: relative;
  }
  
  input + span::before {
    position: absolute;
    right: -1rem;
    top: -1.3rem;
  }
  
  input:invalid + span::before {
    content: '✖';
    color: rgba(252, 10, 10, 0.6);
  }
  
  input:valid + span::before {
    content: '✓';
    color: rgba(0, 128, 0, 0.8);
  }

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover,
input[type=tel]:hover{
    background-color: rgba(23, 8, 37, 0.527);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=tel]:focus {
    outline: none !important;
    border:1px solid rgba(255, 217, 0, 0.76);
    box-shadow: 0 0 25px rgba(109, 29, 112, 0.5);
  }



/*SUBMIT*/

.button-container{
    min-height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.button-wrapper > p{
    font-size: 0.6rem;
    color: white;
    padding: .1rem;
}

a{
    font-size: 0.6rem;
    padding: .2rem;
    color: rgba(255, 217, 0, 0.658);
}

a:hover{
    color:gold;
}

button{
    padding: .5rem;
    margin: 1rem 0 0 1rem;
    font-size: .8rem;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(142, 19, 146);
    border: 1px rgb(142, 19, 146) solid;
}

button:hover{
    color: rgb(235, 40, 241);
    border: 1px rgb(235, 40, 241) solid;
}

button:active{
    box-shadow: 0 0 25px rgba(109, 29, 112, 0.5);
}
/* MEDIA QUERY */


@media (max-width: 768px) {
    .remote-text{
        min-width: 94%;
        font-size: .6rem;
        letter-spacing: .1rem;
        line-height: .5rem;
    }
    p{
        min-width: 90%;
    }
    .p-container > p{
        font-size: .6rem;
        line-height: .8rem;
    }
    .image-text{
        top: 0;
        height: 25.1%;
        line-height: 3rem;
        font-size: 1.3rem;
    }
    .image-caption{
        height: 18%;
        font-size: .7rem;
    }
    .form-container{
        min-height: 57.1vh;
    }
    .text-container{
        min-height: 25vh;
    }

}
