html {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 5, 5);
}

.App {
  min-width: 100vw;
  min-height: 100vh;
}

.counter {
  padding: 20px;
  text-align: center;
  color: white;
}

button {
  margin: 10px;
}
