@font-face {
    font-family: 'MyFont';
    src: url('./my-font.ttf') format('ttf'),
        url('./my-font2.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }
  

.hello {
    color: red;
    background: url('./icon.png');
    font-family: 'MyFont';
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
  }